<head>
  <title>Log In</title>
  <style>
      body {
      font-family: 'Segoe UI', sans-serif;
      background: url('https://cdn.glitch.global/8ad48dfc-297d-4726-b6ef-8c5b8430fd5d/candy.jpg?v=1748332017478');
      background-size: cover;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100dvh;
      }
  </style>
</head>
<body>
  
  <h2>Login</h2>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <button type="submit">Log In</button>
</form>

<p>Don't have an account? <a href="/signup">Sign up here</a></p>
</body>
