<head>
  <title>Sign Up</title>
  <style>
      body {
      font-family: 'Segoe UI', sans-serif;
      background: url('https://cdn.glitch.global/8ad48dfc-297d-4726-b6ef-8c5b8430fd5d/candy.jpg?v=1748332017478');
      background-size: cover;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100dvh;
      }
  </style>
</head>
<body>

  <h2>Create an Account</h2>
<form method="POST">
  <input type="text" name="username" placeholder="Choose a username" required><br>
  <input type="password" name="password" placeholder="Choose a password" required><br>
  <button type="submit">Sign Up</button>
</form>

<p>Already have an account? <a href="/">Go to login</a></p>
</body>

